[user]
	name = Aleksandar Brakmic
	email = 13668697+brakmic-aleksandar@users.noreply.github.com
[core]
	editor = vim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
